
.cont-grid{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 100vh;
    gap: 5%; 
}
.container-img{
    height: 100vh;
    width: 100%;
}
.header-pad{
    display: flex;
    justify-content: center;
}
.container-img img {
    height: 100vh;
    width: 30%;
    object-fit: cover; 
    position: fixed;
    top: 0;
    left: 0;
}

/****/

.layout{
    display: flex;
    flex-direction: column;  
    gap: 50px;
    padding: 110px 0px;
}
.layout-titles h1{
    font-size: 47px;
    font-weight: 700;
}
.layout-titles{
    line-height: 1.3;
}
.layout-titles p{
    font-size: 22px;
}

.header-paragraph{
    width:700px;
}
.header-paragraph p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-size: Georgia, serif;
}

/***/

.section-flex{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.sticky{
    position: sticky;
    top: 35px;
    height: fit-content;
}
.sticky h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}
.sticky span{
    font-size: 22px;
}
.cards-flex{
    display: flex;
    flex-direction: column;
    gap:20px;
}
/**card***/

.card-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.card-img img{
    width:120px;
    height: 120px;
}
.card-title{
    font-size: 24px;
    width: 400px;
    margin: 0;
}
.card-subtitle{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.8;
}